<div class="container-fluid fixed-bottom bg-dark" >
  <div class="row ">
    <div class="col-4 my-3 text-warning">
      @2023
    </div>
    <div class="col-4 my-3 text-warning">
      App Vélo
    </div>
    <div class="col-4 my-3 text-warning">

     René, Tenmogi, Joyce
    </div>
  </div>
</div>