{% extends 'base.html.twig' %}

{% block title %}Hello VeloController!{% endblock %}

{% block body %}

<div class="mb-3 text-center text-warning font-weight-normal">
    <h4>Votre vélo a été bien enregistré</h4>
</div>

<div class="container">
    <div class="row justify-content-center">
        
    </div>
</div>

{% endblock %}
